<?xml version="1.0" ?>
<robot name="bioscara" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="prefix" default=""/>

  <xacro:include filename="$(find bioscara_description)/urdf/materials.xacro" />

  <xacro:if value="$(arg use_mock_hardware)">
      <xacro:include filename="$(find bioscara_description)/urdf/bioscara_mock.ros2control" />
  </xacro:if>
  <xacro:unless value="$(arg use_mock_hardware)">
      <xacro:include filename="$(find bioscara_description)/urdf/bioscara.ros2control" />
  </xacro:unless>

  <xacro:include filename="$(find bioscara_description)/urdf/bioscara.gazebo" />
  <xacro:include filename="$(find bioscara_description)/urdf/bioscara.urdf.xacro" />

</robot>
