<?xml version="1.0"?>
<robot name="bioscara_wide_gripper" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="load_gripper" params="
    parent
    prefix
    use_mock_hardware">
    <xacro:include filename="$(find bioscara_wide_gripper)/urdf/bioscara_wide_gripper.urdf.xacro" />

    <xacro:include filename="$(find bioscara_wide_gripper)/urdf/bioscara_wide_gripper.ros2_control.xacro" />
    <xacro:bioscara_wide_gripper_ros2_control
        name="${name}" 
        prefix="${prefix}"
        use_mock_hardware="${use_mock_hardware}"
        gripper_speed_multiplier="${gripper_speed_multiplier}"
        gripper_force_multiplier="${gripper_force_multiplier}"
        gripper_max_speed="${gripper_max_speed}"
        gripper_max_force="${gripper_max_force}"
        gripper_closed_position="${gripper_closed_position}"/>

    <xacro:bioscara_wide_gripper
        name="RobotiqGripperHardwareInterface"
        prefix="${prefix}"
        parent="${parent}"
        use_fake_hardware="${use_fake_hardware}">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:bioscara_wide_gripper>
  </xacro:macro>
</robot>
