<?xml version="1.0" ?>
<robot name="bioscara_gripper_128" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="gripper_macro" default="bioscara_gripper_128.xacro" />

  <xacro:property name="gripper_macro" value="$(arg gripper_macro)"/>

  <xacro:include filename="$(find bioscara_gripper_descriptions)/urdf/${gripper_macro}"/>

  <!-- Used for fixing robot -->
  <link name="world"/>

  <xacro:load_gripper
    parent="world"
    prefix="$(arg prefix)"
    use_mock_hardware="$(arg use_mock_hardware)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:load_gripper>

</robot>
