<?xml version="1.0" ?>
<robot name="bioscara" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="arm_macro" default="bioscara_arm.xacro" />

  <xacro:property name="arm_description_package" value="$(arg arm_description_package)"/>
  <xacro:property name="arm_macro" value="$(arg arm_macro)"/>

  <!-- Used for fixing robot -->
  <link name="world"/>

  <xacro:include filename="$(find bioscara_arm_description)/urdf/${arm_macro}"/>
  <xacro:load_arm
    parent="world"
    prefix="$(arg prefix)"
    use_mock_hardware="$(arg use_mock_hardware)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:load_arm>

</robot>
