<?xml version="1.0" ?>
<robot name="bioscara" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_mock_hardware" default="false"/>
  <!-- <xacro:arg name="prefix" default=""/> Does it make sense to have a prefix for a scene? -->
  <xacro:arg name="arm_description_package" default="bioscara_description" />
  <xacro:arg name="arm_macro_path" default="/urdf/bioscara_arm.xacro" />
  <xacro:arg name="gripper_description_package" default="" />
  <xacro:arg name="gripper_macro_path" default="/urdf/bioscara_gripper_128.xacro" />


  <xacro:include filename="$(find scene_descriptions)/urdf/robot.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>

  <!-- Include the robot macro which assembles the arm and the gripper -->
  <xacro:load_robot 
    parent="world" 
    prefix="" 
    use_mock_hardware="$(arg use_mock_hardware)"
    arm_description_package="$(arg arm_description_package)"
    arm_macro_path="$(arg arm_macro_path)"
    gripper_description_package="$(arg gripper_description_package)"
    gripper_macro_path="$(arg gripper_macro_path)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:load_robot>

</robot>
