<?xml version="1.0"?>
<robot name="test">

  
  
  
  
  <link name="world"/>

  <joint name="base_joint" type="fixed">
    <origin rpy="0.7853981633974483 0 0.7853981633974483" xyz="0 0 0"/>
    <parent link="world" />
    <child link="base_link" />
  </joint>

  <link name="base_link">
    <visual>
      <geometry>
          <!-- <mesh filename="file://$(find bioscara_gripper_descriptions)/meshes/base.stl"/> -->
          <mesh filename="package://bioscara_gripper_descriptions/meshes/base.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
    </visual>
  </link>

  <link name="left_jaw_link">
    <visual>
      <geometry>
          <mesh filename="package://bioscara_gripper_descriptions/meshes/left_jaw.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
    </visual>
  </link>

  <link name="right_jaw_link">
    <visual>
      <geometry>
          <mesh filename="package://bioscara_gripper_descriptions/meshes/right_jaw.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
    </visual>
  </link>

  <!-- Tool Link -->
  <link name="tool"/>

  <joint name="tool" type="fixed">
    <parent link="base_link"/>
    <child link="tool"/>
    <origin xyz="0.0 -0.11908 -0.14409" rpy="0 0 ${-pi/2}" />
  </joint>

</robot>